<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Github username:</strong>
  <%= @user.github_username %>
</p>

<p>
  <strong>Github user url:</strong>
  <%= @user.github_user_url %>
</p>

<p>
  <strong>Current zip:</strong>
  <%= @user.current_zip %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
  <strong>Html:</strong>
  <%= @user.html %>
</p>

<p>
  <strong>Css:</strong>
  <%= @user.css %>
</p>

<p>
  <strong>Js:</strong>
  <%= @user.js %>
</p>

<p>
  <strong>Ruby:</strong>
  <%= @user.ruby %>
</p>

<p>
  <strong>Python:</strong>
  <%= @user.python %>
</p>

<p>
  <strong>Java:</strong>
  <%= @user.java %>
</p>

<p>
  <strong>C:</strong>
  <%= @user.c %>
</p>

<p>
  <strong>Php:</strong>
  <%= @user.php %>
</p>

<p>
  <strong>Go:</strong>
  <%= @user.go %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
